# Laravel
/bootstrap/compiled.php
.env.*.php
.env.php
_ide_helper.php

# Composer
/vendor

# Bower
/assets/vendor

# System
.DS_Store
Thumbs.db

# PhpStorm
.idea/

# Node packages
/node_modules

# Sass
.sass-cache

# Byscripts Setup
app/storage/bss.meta
init.log